header {
  background-color: rgb(0, 153, 255);
  text-align: center;
  justify-content: center;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
}
body {
  font-family: "montserrat", sans-serif;
  background-image: url(https://wallpaperaccess.com/full/1218656.jpg);
  background-size: cover;
  background-position: top center;
  color: white;
}
#main {
  display: grid;
  margin-top: 10px;
  margin-left: 0px;
}
.col-md-4 {
  margin-top: 20px;
}

.col-12col-md-8 {
  color: blue;
  height: 300px;
}
h1 {
  justify-content: center;
  text-align: center;
}
.specs {
  margin-top: 20px;
  justify-content: center;
}
.cities {
  display: block;
  margin: 5px;
}
.card {
  background-color: rgba(255, 255, 0, 0.863);
  width: 20%;
  height: auto;
  float: right;
  margin: 10px;
  color: black;
}
