header {
  background-color:  rgba(255, 255, 255, 0.363));
  text-align: center;
  justify-content: center;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 3px;
  font-family:impact;
}
body {
  font-family: "montserrat", sans-serif;
  background-image: url(https://wallpaperaccess.com/full/1218656.jpg);

  background-position: top center;
  color: black ;

}
#main {
  display: grid;
  margin-top: 10px;
  margin-left: 0px;
}
.col-md-4 {
  margin-top: 20px;
}

.col-12col-md-8 {
  color: blue;
  height: 300px;
}
h1 {
  justify-content: center;
  text-align: center;
}
.specs {
  margin-top: 20px;
  display:block;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.363);
  width: 400px;
  border-style:outset ;
}
.cities {
  display: block;
  margin: 5px;
  border-style:outset;
  background-color: rgba(255, 255, 255, 0.363);
  
}
.card {
  background-color: rgba(255, 255, 255, 0.63);
  width: 20%;
  height: auto;
  float: right;
  margin: 10px;
  color: black;
  font-size: 18px;
  padding: 20px;
}
h5 {
  position: sticky;
}
